.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  background-color: #222 !important;
  color: white !important;
}

.drawer-open {
  background-color: #222 !important;
  border-radius: 9px !important;
}

#menu-user:hover{
  pointer-events: all;
}

.menuitem:hover{
  background-color: #8a8a8a4f !important;
  border-radius: 10px;
  max-width: '90% !important';

}